<ul>
  <li><input type="radio" name="question_<%= question.id %>" value="1">Strongly Disagree</li>
  <li><input type="radio" name="question_<%= question.id %>" value="2">Disagree</li>
  <li><input type="radio" name="question_<%= question.id %>" value="3">Neutral</li>
  <li><input type="radio" name="question_<%= question.id %>" value="4">Agree</li>
  <li><input type="radio" name="question_<%= question.id %>" value="5">Strongly Agree</li>
</ul>
