<div class='question'>
  <h1><%= @survey.title %></h1>
  <h3><%= @survey.description %></h3>
  <ol>
  <% @survey.questions.each do |question| %>
    <li><%= question.question_str %></li>
    <% question.choices.each do |choice| %>
    <form action="/surveys/:survey_id" method="post">
      <ul>
        <li><input type="radio" name="radio" value="<%= choice.choice_str %>"><%= choice.choice_str %></li>
      </ul>
     <% end %>
     <input type="submit" name="submitradio" value="Submit">
  <% end %>
  </ol>
</div>